body {background-color: #FFFFFF;
    
font-family: 'Roboto', sans-serif;
}

.list {list-style: none;}

.link {text-decoration: none;}


/*header*/

.logo {color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;;
    font-family: 'Raleway', sans-serif;
    }

.logo-one {color: #2E2F42;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
}

.studio { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

 .portfolio { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.contacts { color: #2E2F42;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.mail { color: #434455;
    
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-family: 'Roboto': sans-serif;

    font-style: normal; 

}

.tel {color: #434455;
    font-family: 'Roboto': sans-serif;

    font-style: normal; 
    
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
}

/*main*/

/*  */

.all {
    background: #4D5AE5;
       color: #FFFFFF;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;


}

.link-one-portfolio {
   
}

.web { color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}



.app {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}
.desing {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.marketing {
    color: #4D5AE5;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}


/*----------HERO--------*/

.type-2 {
}
.list {
}
.type-portfolio {
}
.type-portfolio-title {
    color: #2E2F42;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.type-portfolio-text {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}



/*--------footer------------*/

.footer {
    background: #2E2F42
       
}
.logo {
    font-family: 'Raleway', sans-serif;
}
.logo-two {
    color: #F4F4FD;
    font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;
}
.type-portfolio-text1 {
    color: #E7E9FC;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.02em;
}

.body-main {
  
font-family: 'Roboto', sans-serif;
}

.list {list-style: none;}

.link {text-decoration: none;}


/*--header main page--*/



.logo-main {color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
    }

.logo-main-one {color: #2E2F42;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-family: 'Raleway', sans-serif;
}

.studio1 { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

 .portfolio-one { color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

.contacts-one { color: #2E2F42;
    font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.mail-one { color: #434455;
   
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-family: 'Roboto':sans-serif;
font-style: normal;

}

.tel-one {color: #434455;
    font-family: 'Roboto': sans-serif;

    font-style: normal;   
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
}







/*--main page--*/



.basis-main {
    background: #2E2F42;
    width: 1440px;
    height: 603px;
    left: 0px;
    top: 72px;
}
.title-main {
    color: #FFFFFF;
    font-weight: 600;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;

}
.order {
   
    background-color: #4D5AE5;

    color: #FFFFFF;

    font-weight: 600;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
   
}
.description {
}
.description1 {
}
.tape-descriptiopn {
    color: #2E2F42;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em
}
.description-text {
    color: #434455;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.title-second {
    color: #2E2F42;
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.description-imag {
}
.type-title {
}

.seconds {
    background: #F4F4FD ;
}
.title-seconds {
    color: #2E2F42;
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.type-title-seconds {

}

.tape-description {
    color: #2E2F42;
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.description-text-two {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.type-title-second {
}




/*--footer main page--*/


.footer-main-page {
    background-color: #2E2F42;
left: 0px;
top: 2283px;

}

.logo {
    color: #4D5AE5;
   
font-weight: 800;
font-size: 18px;
line-height: 1.16;

letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;

}
.logo-two {
color: #F4F4FD;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
font-family: 'Raleway', sans-serif;
}
.type-main-text {
    color: #E7E9FC;
 
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}